## Preprocessing

In [74]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [75]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [76]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [77]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [78]:
application_df['APPLICATION_TYPE'].value_counts().median()
cutoff = 528

In [79]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df[application_df['APPLICATION_TYPE'].map(application_df['APPLICATION_TYPE'].value_counts()) < cutoff]
application_types_to_replace = application_types_to_replace['APPLICATION_TYPE'].unique().tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [80]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [81]:
# You may find it helpful to look at CLASSIFICATION value counts >1
temp_df = application_df[application_df['CLASSIFICATION'].map(application_df['CLASSIFICATION'].value_counts()) > 1]
temp_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [82]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff = 287
classifications_to_replace = application_df[application_df['CLASSIFICATION'].map(application_df['CLASSIFICATION'].value_counts()) < cutoff]
classifications_to_replace = classifications_to_replace['CLASSIFICATION'].unique().tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [88]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [99]:
# Split our preprocessed data into our features and target arrays
temp_X = dummies.drop('IS_SUCCESSFUL', axis=1)
temp_Y = dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, Y_train, Y_test = train_test_split(temp_X, temp_Y, random_state=1)

In [100]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [121]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=45))

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
nn.add(tf.keras.layers.Dense(units=3))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 5)                 230

 dense_11 (Dense)            (None, 3)                 18

=================================================================
Total params: 248
Trainable params: 248
Non-trainable params: 0
_________________________________________________________________

In [122]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [123]:
# Train the model
fit_model = nn.fit(X_train_scaled, Y_train, epochs=50)
#X_train_scaled.shape # (25724, 45)
#Y_train.shape #(25724,)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 3.0380 - accuracy: 0.4428
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 2.0306 - accuracy: 0.4680
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6127 - accuracy: 0.4713
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3005 - accuracy: 0.3730
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2206 - accuracy: 0.2699
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1755 - accuracy: 0.2146
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1603 - accuracy: 0.2256
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9973 - accuracy: 0.1970
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8858 - accuracy: 0.2109
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8610 - accuracy: 0.2068
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8176 - accuracy: 0.2050
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8039 - accuracy: 0.2481
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7992 - accuracy: 0.2470
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7961 - accuracy: 0.2526
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7567 - accuracy: 0.2444
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7430 - accuracy: 0.1892
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7310 - accuracy: 0.2146
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7261 - accuracy: 0.1865
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7233 - accuracy: 0.1614
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7250 - accuracy: 0.3065
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7211 - accuracy: 0.1852
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7161 - accuracy: 0.3017
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7162 - accuracy: 0.1971
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7136 - accuracy: 0.1706
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7260 - accuracy: 0.2358
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7209 - accuracy: 0.2424
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7149 - accuracy: 0.2744
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7188 - accuracy: 0.3826
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6964 - accuracy: 0.5242
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6806 - accuracy: 0.3944
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6780 - accuracy: 0.3190
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6752 - accuracy: 0.2145
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6656 - accuracy: 0.2177
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6570 - accuracy: 0.3270
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6543 - accuracy: 0.2360
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6498 - accuracy: 0.2016
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6436 - accuracy: 0.2933
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6310 - accuracy: 0.2535
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6188 - accuracy: 0.3578
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5963 - accuracy: 0.2960
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.2644
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5891 - accuracy: 0.3145
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5930 - accuracy: 0.3732
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5860 - accuracy: 0.2784
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5879 - accuracy: 0.3300
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5827 - accuracy: 0.5244
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5788 - accuracy: 0.5155
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5772 - accuracy: 0.4948
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.4658
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6116 - accuracy: 0.4711

In [125]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, Y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6066 - accuracy: 0.5521 - 393ms/epoch - 1ms/step
Loss: 0.606558084487915, Accuracy: 0.5520699620246887

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE